.school .swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding-bottom: 70PX;
  z-index: 1;
}



.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}

/* ==========Home page=========== */
.line1 {
  position: relative;
}

.line1::after {
  position: absolute;
  content: '';
  width: 165px;
  height: 5px;
  background: #1E2D40;
  left: 100%;
}

/* ==========Home page=========== */